asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.2
click==8.0.1
colorama==0.4.4
deepspeech==0.9.3
ffmpeg==1.4
ffprobe==0.5
filelock==3.0.12
Flask==2.0.1
gunicorn==20.1.0
h11==0.12.0
huggingface-hub==0.0.12
ibm-cloud-sdk-core==3.10.1
ibm-watson==5.2.2
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
numpy==1.21.0
packaging==21.0
Pillow==8.3.1
pydub==0.25.1
PyJWT==2.1.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==0.18.0
python-multipart==0.0.5
PyYAML==5.4.1
regex==2021.7.6
requests==2.26.0
sacremoses==0.0.45
scipy==1.7.0
sentencepiece==0.1.96
six==1.16.0
starlette==0.14.2
subprocess.run==0.0.8
tokenizers==0.10.3
torch==1.9.0
torchaudio==0.9.0
torchvision==0.10.0
tqdm==4.61.2
transformers==4.8.2
typing-extensions==3.10.0.0
urllib3==1.26.6
websocket-client==1.1.0
Werkzeug==2.0.1
