click==8.0.1
colorama==0.4.4
deepspeech==0.9.3
ffmpeg==1.4
ffprobe==0.5
Flask==2.0.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pydub==0.25.1
scipy==1.7.0
subprocess.run==0.0.8
Werkzeug==2.0.1
