<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Open+Sans:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/styles_up.css')}}">
</head>
<body>
    <h1>Minutes of the Meet</h1>
    <form action="process" id = "audio-from" method="post" enctype="multipart/form-data">
        <input type="hidden" id="audio-url" name="audio_url" value="">
        <input type="file" id="audio-input" name="raw_audio">
        <input type="submit" value="Generate Summary">
    </form>
</body>
</html>